<h1>{{day.day}}</h1>
<ul>
  {{#each sortedTasks as |task|}}
    {{single-task task=task}}
  {{/each}}
  <li class="task">
    {{elastic-textarea value=newTaskDescription placeholder="Add new recurring task" insert-newline="addTask"}}
  </li>
</ul>
