{{#draggable-dropzone dropped="moveTaskToDay" dragIn="addDropTargetHighlight" dragOut="removeDropTargetHighlight"}}
{{yield}}
<ul>
	{{#each sortedUnfinishedTasks as |task|}}
		{{draggable-task task=task class="spec-task" editingStart="editingStart" editingEnd="editingEnd"}}
	{{/each}}
	{{#each sortedFinishedTasks as |task|}}
		{{draggable-task task=task class="spec-task" editingStart="editingStart" editingEnd="editingEnd"}}
	{{/each}}
	<li>
		{{elastic-textarea class="spec-new-task" value=newTaskDescription placeholder="Add new task" insert-newline="addTask"}}
	</li>
</ul>
{{/draggable-dropzone}}
