.date-picker-content {
  background-color: white;
  box-shadow: 2px 2px 1em #333;
  display: inline-block;
  position: absolute;

  .ember-power-calendar-nav-title {
    font-weight: bold;
  }

  .ember-power-calendar-day {
    padding: 5px;
  }

  .ember-basic-dropdown-trigger:focus {
    outline: none;
  }
}
