.date-picker-content {
  background-color: white;
  box-shadow: 2px 2px 1em #333;
  display: inline-block;
  position: absolute;

  .ember-power-calendar-nav-title {
    font-weight: bold;
  }

  .ember-power-calendar-day {
    padding: 5px;

    &.ember-power-calendar-day--other-month {
      color: rgb(187, 187, 187);
    }

    &.ember-power-calendar-day--current-month {
      color: rgb(101, 109, 120);
      background-color: rgb(245, 247, 250);
    }

    &.ember-power-calendar-day--today, &:not([disabled]):hover {
      background-color: rgb(238, 238, 238);
    }

    &.ember-power-calendar-day--selected {
      background-color: #ddeedd;
    }
  }

  .ember-basic-dropdown-trigger:focus {
    outline: none;
  }
}
