.task-list, .collapsed-lists {
  display: inline-block;
  margin-right: .5em;
  width: 22em;
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
}

.task-list {
  background-color: #e3e3e3;
  border-radius: 3px;
  padding-top: 1em;
  vertical-align: top;
  white-space: normal;

  &.active-drop-target {
    box-shadow: 0px 0px 15px #333;
  }

  header {
    display: flex;
    align-items: center;

    & > div {
      flex: 0;
    }

    & > div:first-child {
      flex: 1;
    }

    button.expand-collapse-toggle {
      border: none;
      background-color: transparent;
    }

    h1, h2 {
      margin: 0;
      margin-left: 15px;
    }
  }

  ul {
    max-height: calc(100vh - 12em);
    overflow-y: auto;
    padding: .25em;
  }

  &.current {
    background-color: #B2DFDA;
  }

  &.past {
    li:not(.done) {
      color: #bf4a40;
      font-weight: bold;
    }

    &.has-unfinished-tasks {
      h1, h2 {
        color: #bf4a40;
      }
    }

    &:not(.has-unfinished-tasks) {
      opacity: 0.75;
    }
  }
}

.collapsed-lists {
  .container {
    display: flex;
    flex-direction: column;
  }

  .task-list {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}
