.task {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  display: flex;
  list-style-type: none;
  margin: 0 0.25em 0.5em 0.25em;
  padding: 0.5em;

  &.pending {
    opacity: 0.33;
  }

  &.editing {
    box-shadow: 2px 2px 1em #999;
  }

  &[draggable=true] {
    -moz-user-select: none;
    -khtml-user-drag: element;
    cursor: move;
  }

  .state {
    width: 1.25em;
  }

  p {
    margin: 0;
  }

  & > div:not(:first-child) {
    flex-grow: 1;
  }
}
