@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-datepicker";

@import "datepicker";
@import "flash-messages";
@import "task";

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 10pt;
$body-background-color: #23A08D;

body {
  background-color: $body-background-color;
  font-family: $body-font;
  font-size: $body-font-size;

  &:not(.testing) {
    overflow: hidden;
  }
}

div.page-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

nav.top-nav {
  display: flex;
  height: 2.5em;

  i {
    vertical-align: top;
  }

  .todolist-actions {
    flex-grow: 1;

    & > div {
      display: inline-block;
    }
  }

  .user-actions {
    flex-grow: 1;
    text-align: right;
  }
}

.task-list {
  background-color: #e3e3e3;
  border-radius: 3px;
  display: inline-block;
  margin-right: .5em;
  padding-top: 1em;
  vertical-align: top;
  white-space: normal;
  width: 22em;

  &.active-drop-target {
    box-shadow: 0px 0px 15px #333;
  }

  h1, h2 {
    text-align: center;
    margin: 0;
  }

  ul {
    max-height: calc(100vh - 12em);
    overflow-y: scroll;
    padding: .25em;
  }

  &.current {
    background-color: #B2DFDA;
  }

  &.past {
    li:not(.done) {
      color: #bf4a40;
      font-weight: bold;
    }

    &.has-unfinished-tasks {
      h1, h2 {
        color: #bf4a40;
      }
    }

    &:not(.has-unfinished-tasks) {
      opacity: 0.75;
    }
  }
}

.days, .recurring-task-days {
  height: calc(100vh - 3.5em);
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
}

.days {
  margin-top: 0.5em;
}

.recurring-task-days {
  .task-list ul li div {
    width: 100%;
  }
}

.done {
  color: #666;
  opacity: 0.7;
}

.task {
  textarea {
    background: none;
    border: 0;
    font-family: $body-font;
    font-size: $body-font-size;
    height: 100%;
    outline: 0;
    overflow: hidden;
    resize: vertical;
    width: 100%;
  }
}

i.fa {
  color: black;
  font-size: 2em;
}

.new-task {
  width: 100%;

  textarea, input[type=text] {
    background-color: white;
  }
}

.new-task-dialog {
  background-color: lightgray;

  padding: 0 2em 1em 2em;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  width: 18em;

  td {
    padding: .25em;
  }

  td[colspan] {
    text-align: center;
  }
}
