table.items {
	width: 100%;
}

table.items thead th.done {
	width: 1.5em;
}

table.items thead th.date {
	width: 6.5em;
}

table.items thead th.event {

}

table.items thead th.location {
	width: 33%;
}

table.items thead th.times {
	width: 10%;
}


/* Row styles */
.today {
	background-color: #C2E1FF;
}

	.today.mark {
		background-color: #6BBAFF;
	}

	.today.done {
		background-color: #E5F3FF;
	}

.past {
	background-color: #FFCB9E;
}

	.past.mark {
		background-color: #FF2E35;
	}

	.past.done {
		background-color: #EEE;
	}

.future {
	background-color: white;
}

	.future.mark {
		background-color: #A1FF9E;
	}

.undated {
	background-color: white;
}

		.undated.done {
		background-color: #EEE;
	}

	.undated.mark {
		background-color: #A1FF9E;
	}

table.items ul.tags {
	float: right;
	list-style-type: none;
	margin: 0;
}
	table.items ul.tags li.tag {
		display: inline-block;
	}

.tag {
	border-radius: 2px;
	font-family: sans-serif;
	font-size: 70%;
	min-width: 1em;
	padding: 0.1em 0.5em;
	text-align: center;
	white-space: nowrap;
}

	.tag.style0 {
		// no style
	}

	.tag.style1 {
		background-color: #5A6984;
		color: #DEE7F7;
	}
	.tag.style2 {
		background-color: #216DFF;
		color: #E7EFFF;
	}
	.tag.style3 {
		background-color: #0000CE;
		color: #DEE3FF;
	}

	.tag.style4 {
		background-color: #5228A5;
		color: #E7D7FF;
	}

	.tag.style5 {
		background-color: #844D63;
		color: #FFEBF7;
	}

	.tag.style6 {
		background-color: #CE0000;
		color: #FFE3E7;
	}

	.tag.style7 {
		background-color: #DEE7F7;
		color: #5A6984;
	}

	.tag.style8 {
		background-color: #E7EFFF;
		color: #216DFF;
	}

	.tag.style9 {
		background-color: #DEE3FF;
		color: #0000CE;
	}

	.tag.style10 {
		background-color: #E7D7FF;
		color: #5228A5;
	}

	.tag.style11 {
		background-color: #FFEBF7;
		color: #844D63;
	}

	.tag.style12 {
		background-color: #FFE3E7;
		color: #CE0000;
	}

	.tag.style13 {
		background-color: #FFF3E7;
		color: #EF7100;
	}

	.tag.style14 {
		background-color: #FFDFB5;
		color: #B56D00;
	}

	.tag.style15 {
		background-color: #F7E7B5;
		color: #AD8A00;
	}

	.tag.style16 {
		background-color: #FFFFD6;
		color: #636131;
	}

	.tag.style17 {
		background-color: #FFFFEF;
		color: #639A29;
	}

	.tag.style18 {
		background-color: #F7F7EF;
		color: #006531;
	}

	.tag.style19 {
		background-color: #EF7100;
		color: #FFF3E7;
	}

	.tag.style20 {
		background-color: #B56D00;
		color: #FFDFB5;
	}

	.tag.style21 {
		background-color: #AD8A00;
		color: #F7E7B5;
	}

	.tag.style22 {
		background-color: #636131;
		color: #FFFFD6;
	}

	.tag.style23 {
		background-color: #639A29;
		color: #FFFFEF;
	}

	.tag.style24 {
		background-color: #006531;
		color: #F7F7EF;
	}
