<div>
  <FaIcon @icon="calendar-alt" @prefix="far" {{on "click" this.toggleCalendar}} ...attributes />
  {{#if this.showingCalendar}}
    <PowerCalendarRange @onSelect={{this.changeDate}} @selected={{@dateRange}} @renderInPlace={{true}} class="date-picker-content" />
  {{/if}}
</div>
