<form class="new-task" {{action "createTask"}}>
  {{autofocus-elastic-textarea value=newTaskDescription placeholder="New task" class="spec-new-task-description"}}
  <br><br>
  {{date-picker-text-field value=newTaskDate placeholder="Date" class="spec-new-task-date"}}
  <br><br>
  <input type="submit" value="Add" class="spec-create-task">
</form>
