<div class="page-wrapper">
  {{#if this.session.isAuthenticated}}
    <TopNav
      @selectedDate={{this.selectedDate}}
      @changeDate={{this.changeDate}}
      @logout={{this.logout}}
    />
  {{/if}}

  {{outlet}}
</div>
