<div class="page-wrapper">
  {{#if session.isAuthenticated}}
    {{top-nav
      flashMessages=flashMessages
      selectedDate=selectedDate
      changeDate=(action "changeDate")
      logout=(action "logout")
    }}
  {{/if}}

  {{outlet}}
</div>
