<div class="page-wrapper">
  {{#if session.isAuthenticated}}
    {{top-nav
      changeDate=(action 'changeDate')
      logout=(action 'logout')
    }}
  {{/if}}

  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}
</div>
