<div class="days">
  {{#each days as |list|}}
    {{day-tasks
      list=list
      editingStart=(route-action "pausePolling")
      editingEnd=(route-action "resumePolling")
    }}
  {{/each}}
  {{#each lists as |list|}}
    {{task-list
      list=list
      editingStart=(route-action "pausePolling")
      editingEnd=(route-action "resumePolling")
    }}
  {{/each}}
</div>
