<div class="days">
  {{#each days as |list|}}
    {{day-tasks
      list=list
      editingStart=(action "stopPolling")
      editingEnd=(action "startPolling")
    }}
  {{/each}}
  {{#each lists as |list|}}
    {{task-list
      list=list
      editingStart=(action "stopPolling")
      editingEnd=(action "startPolling")
    }}
  {{/each}}
</div>
