<div class="days">
  {{#each days as |list|}}
    {{day-tasks list=list store=store editingStart="pausePolling" editingEnd="resumePolling"}}
  {{/each}}
  {{#each lists as |list|}}
    {{task-list list=list store=store editingStart="pausePolling" editingEnd="resumePolling"}}
  {{/each}}
</div>
