<div class="item-list">
  {{#each group in groupedContent}}
  <div class="items">
    <h3>{{day-of-week group.name}}</h3>
    <h4>{{format-date group.name}}</h4>

    {{render "item-list" group}}
  </div>
  {{/each}}
</div>
