<form class="login-form" {{on "submit" this.login}}>
  <table>
    <tbody>
      <tr>
        <td>
          <label for="email">Email address</label>
        </td>
        <td>
          <Input @type="text" @value={{this.email}} @id="email" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <Input @type="password" @value={{this.password}} id="password" />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button>Log in</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
