<form {{action 'login' on='submit'}}>
  <label>
    Email address
    {{input type='text' value=email}}
  </label>
  <label>
    Password
    {{input type='password' value=password}}
  </label>
  <button>Log in</button>
</form>
